/* preseving working css file*/

* {
	box-sizing: border-box;
   }

   body {
	   font-family: Arial, Helvetica, sans-serif;
   }

   /* Style the header */
   header {
	   background-color: #666;
	   padding: 30px;
	   text-align: center;
	   font-size: 35px;
	   color: white;
   }       

   /* Container for flexboxes */
   section {
	   display: -webkit-flex;
	   display: flex;
   }

   /* Style the navigation menu */
   nav {
	   -webkit-flex: 1;
	   -ms-flex: 1;
	   flex: 1;
	   background: #ccc;
	   padding: 20px;
	   text-align: Left
   }

   /* Style the list inside the menu */
   nav ul {
	   list-style-type: none;
	   padding: 0;
   }

   button.Sidebar { background:none; border:none; }

   .Sidebar:hover {
	   background:transparent;
	   cursor: pointer;
   }

   /* Style the content */
   article {
	   -webkit-flex: 3;
	   -ms-flex: 3;
	   flex: 3;
	   background-color: #f1f1f1;
	   padding: 10px;
	   text-align: center
   }

   .switch {
	   position: relative;
	   display: inline-block;
	   width: 60px;
	   height: 34px
   }

   .switch input {
	   display: none
   }

   .slider {
	   position: absolute;
	   top: 0;
	   left: 0;
	   right: 0;
	   bottom: 0;
	   background-color: #ccc;
	   border-radius: 17px
   }

   .slider:before {
	   position: absolute;
	   content: "";
	   height: 26px;
	   width: 26px;
	   left: 4px;
	   bottom: 4px;
	   background-color: #fff;
	   -webkit-transition: .4s;
	   transition: .4s;
	   border-radius: 34px
   }
   .flex-container {
   display: flex;
   }
   .flex-container > div {
	   display: flex;
   }

   input:checked+.slider {
	   background-color: #2196F3
   }

   input:checked+.slider:before {
	   -webkit-transform: translateX(26px);
	   -ms-transform: translateX(26px);
	   transform: translateX(26px)
   }

   /* Style the footer */
   footer {
	   background-color: #777;
	   padding: 10px;
	   text-align: center;
	   color: white;
   }